/* .main-site-cols {
   
}

.main-site-cols:hover {
    height: 100%;
    width: 110%;
    box-shadow: 10px 10px 5px rgba(57, 56, 107, 0.315);
}

    .col-titles {
        Height: 20%;
        width: 100%;
        font-size: larger;
        font-weight: 600;
        border-radius: 5px 5px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #BD9C6C;
    } */

#shrtsection3 {
    display: flex;
    flex-direction: column;
}

    #shrtImg {
        position: relative;
        height: 500px;
        width: 100%;
        background-color: rgba(255, 235, 205, 0.384);
    }

    #abt-shrt {
        height: 50%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(137, 43, 226, 0.473);
    }

        .shrt-spec {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            .shrt-spec p {
                text-align: center;
            }

        

        h1 {
            width: 100%;
        }

        